@charset "UTF-8";
/*varibles*/
.fondo1 {
  background-image: url("../imagen/fondopagina3.jpg");
  background-repeat: repeat-y;
  background-size: auto;
}

.fondo2 {
  background-image: url("../imagen/fondopagina2.jpg");
  background-repeat: repeat;
  background-size: auto;
}

.sectionservicio1 {
  display: flex;
  padding: 10px;
  margin-top: 50px;
}
.sectionservicio1 .sectionservicio1__titulo {
  font-size: 20px;
  margin-top: 50px;
  color: rgb(250, 226, 6);
  margin-left: 200px;
  width: 250px;
  text-align: center;
}
.sectionservicio1 .sectionservicio1__descripcion h2 {
  font-size: 20px;
  margin-left: 180px;
  color: rgb(223, 223, 223);
}

.sectionservicio2 {
  display: flex;
  padding: 10px;
}
.sectionservicio2 .sectionservicio2__titulo {
  font-size: 20px;
  margin-top: 50px;
  color: rgb(250, 226, 6);
  margin-left: 200px;
  text-align: center;
  width: 250px;
}
.sectionservicio2 .sectionservicio2__descripcion h2 {
  font-size: 20px;
  margin-left: 180px;
  color: rgb(223, 223, 223);
}

.titulologo {
  text-decoration: none;
}

.sectioninicio {
  padding: 20px;
  display: flex;
}

.col {
  text-align: center;
}

#containertecnologia {
  margin-top: 50px;
}

.section2__parrafoinicio {
  padding: 40px;
  font-size: 25px;
  text-align: center;
  color: rgb(223, 248, 250);
}

.parrafo__quienessomos .text-center {
  font-size: 25px;
  color: rgb(223, 223, 223);
  margin-left: 150px;
  margin-right: 150px;
  padding: 40px;
}

.sectioninicio__textoinicio {
  color: blueviolet;
  font-size: 50px;
  padding: 20px;
  margin-left: 100px;
  width: 400px;
  text-align: center;
}

.contacto__titulo {
  font-size: 40px;
  text-align: center;
  color: rgb(223, 248, 250);
}

.col .text-center {
  color: rgb(250, 226, 6);
  font-size: 35px;
  margin-left: 25px;
}

.sectioninicio__imageninicio {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  width: 400px;
  height: 300px;
  transition: width 1s, height 1s;
}

.sectioninicio__imageninicio:hover {
  width: 430px;
  height: 330px;
}

.logoinicio {
  padding-top: 80px;
  color: rgb(223, 248, 250);
}

form div {
  text-align: center;
  color: azure;
  margin-bottom: 10px;
}
form div label {
  display: block;
}
form div input {
  width: 200px;
}
form div textarea {
  width: 280px;
  border: 6px solid #353635; /* Green */
  border-radius: 20px;
}
form .boton input {
  background-color: rgb(194, 201, 193);
  color: black;
  border: 6px solid #353635; /* Green */
  border-radius: 20px;
  transition: background-color 1s, color 1s;
}
form .boton input:hover {
  background-color: black;
  color: white;
}

.grid {
  display: grid;
  justify-content: space-around;
  margin-top: 40px;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  grid-template-rows: auto auto;
  height: 500px;
}
.grid div {
  border: solid 10px;
}
.grid div img {
  width: 100%;
  height: 100%;
}

@media (min-width: 700px) and (max-width: 1000px) { /*tamaño para telefono en modo vertical y horizontal*/
  .sectioninicio {
    display: flex;
    text-align: center;
  }
  .sectioninicio .sectioninicio__textoinicio {
    font-size: 35px;
    width: 70%;
    text-align: center;
    padding: auto;
    margin-left: 0;
  }
  .sectioninicio .sectioninicio__imageninicio {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    transition: width 1s, height 1s;
  }
  .sectioninicio .sectioninicio__imageninicio:hover {
    width: 55%;
    height: 55%;
  }
  .sectionservicio1 {
    display: flex;
    padding: 20px;
    margin-top: 50px;
  }
  .sectionservicio1 .sectionservicio1__titulo {
    font-size: 15px;
    margin-top: 50px;
    color: rgb(250, 226, 6);
    margin-left: 100px;
    width: 250px;
    text-align: center;
  }
  .sectionservicio1 .sectionservicio1__descripcion h2 {
    font-size: 15px;
    margin-left: 100px;
    margin-right: 50px;
    color: rgb(223, 223, 223);
  }
  .sectionservicio2 {
    display: flex;
    padding: 20px;
  }
  .sectionservicio2 .sectionservicio2__titulo {
    font-size: 15px;
    margin-top: 50px;
    color: rgb(250, 226, 6);
    margin-left: 100px;
    text-align: center;
    width: 250px;
  }
  .sectionservicio2 .sectionservicio2__descripcion h2 {
    font-size: 15px;
    margin-left: 100px;
    margin-right: 50px;
    color: rgb(223, 223, 223);
  }
  .grid {
    margin-left: 30px;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    grid-template-rows: auto auto auto;
    height: 900px;
  }
  .grid div {
    border: none;
  }
  .grid div img {
    width: 90%;
    height: 80%;
    border: solid 10px;
  }
}
@media (max-width: 700px) { /*tamaño para telefono en modo vertical y horizontal*/
  .sectioninicio {
    display: block;
    text-align: center;
    padding: 0;
    margin-top: 0;
  }
  .sectioninicio .sectioninicio__textoinicio {
    font-size: 20px;
    padding: auto;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
  }
  .sectioninicio .sectioninicio__imageninicio {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 90%;
    transition: width 1s, height 1s;
  }
  .section2__parrafoinicio {
    padding: auto;
    font-size: 15px;
    text-align: center;
    color: rgb(223, 248, 250);
  }
  .sectionservicio1 {
    display: block;
  }
  .sectionservicio1 .sectionservicio1__titulo {
    font-size: 16px;
    margin-top: auto;
    margin-left: auto;
    width: auto;
  }
  .sectionservicio1 .sectionservicio1__descripcion h2 {
    font-size: 15px;
    text-align: center;
    margin-left: auto;
  }
  .sectionservicio2 {
    display: block;
  }
  .sectionservicio2 .sectionservicio2__titulo {
    font-size: 16px;
    margin-top: auto;
    margin-left: auto;
    width: auto;
  }
  .sectionservicio2 .sectionservicio2__descripcion h2 {
    font-size: 15px;
    text-align: center;
    margin-left: auto;
  }
  .parrafo__quienessomos .text-center {
    font-size: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
  }
  .col .text-center {
    font-size: 16px;
  }
  iframe {
    width: 90%;
    height: auto;
  }
  .grid {
    margin-top: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    height: auto;
  }
  .grid div {
    border: none;
  }
  .grid div img {
    width: 90%;
    height: 90%;
    border: solid 10px;
  }
  #filatecnologia {
    display: block;
    padding-top: 20px;
  }
  .imagentecnologias {
    text-align: center;
    width: 90%;
    height: 90%;
  }
  form input {
    width: 100%;
  }
  form #mensaje {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
