

.sectionservicio1 {
    display: flex;
    padding: 10px;
    margin-top: 50px; 
    .sectionservicio1__titulo {
        font-size: 20px;
        margin-top: 50px;
        color: $amarillo;
        margin-left: 200px;
        width: 250px;
        text-align:center;  
    }
    
    .sectionservicio1__descripcion h2{
        font-size: 20px;
        margin-left: 180px;
        color: $rojo;
    }  
}

.sectionservicio2 {
    display:flex;
    padding: 10px;
    .sectionservicio2__titulo { 
        font-size: 20px;
        margin-top: 50px;
        color: $amarillo;
        margin-left: 200px;
        text-align:center; 
        width: 250px; 
    }
    
    .sectionservicio2__descripcion h2 {
        font-size: 20px;
        margin-left: 180px;
        color: $rojo;
    }
}

.titulologo {
    text-decoration: none;
}


.sectioninicio {
    padding: 20px;
    display: flex; 
       
}

.col{
    text-align: center;
    
}

#containertecnologia{
    margin-top: 50px;
}

