@mixin flex-pad {
    display: flex;
    padding: 10px;
}

@mixin fon-mar-col-wid-tex-escritorio {
    font-size: 20px;
    margin-top: 50px;
    color: $amarillo;
    margin-left: 200px;
    width: 250px;
    text-align:$centrado;
}

@mixin fon-mar-col-escritorio {
    font-size: 20px;
    margin-left: 180px;
    color: $blancorojo;
}

.sectionservicio1 {
    @include flex-pad;
    margin-top: 50px; 
    .sectionservicio1__titulo {
        @include fon-mar-col-wid-tex-escritorio;
    }
    
    .sectionservicio1__descripcion h2{
        @include fon-mar-col-escritorio;
    }  
}

.sectionservicio2 {
    @include flex-pad;
    .sectionservicio2__titulo { 
        @include fon-mar-col-wid-tex-escritorio; 
    }
    
    .sectionservicio2__descripcion h2 {
        @include fon-mar-col-escritorio;
    }
}

.titulologo {
    text-decoration: none;
}


.sectioninicio {
    padding: 20px;
    display: flex; 
       
}

.col{
    text-align: $centrado;
    
}

#containertecnologia{
    margin-top: 50px;
}

.imagentecnologias{
    margin-bottom: 20px;
}
