

.sectionservicio1 {
    display: flex;
    padding: 20px;
    margin-top: 50px;   
}

.sectionservicio2 {
    display:flex;
    padding: 20px;
}

.sectioninicio {
    padding: 40px;
    display: flex;
    margin-top: 20px;
    text-align: right;   
       
}

.col{
    text-align: center;
    
}

#containertecnologia{
    margin-top: 50px;
}

