.sectioninicio__imageninicio {
    text-align: $centrado;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    width: 400px;
    height: 300px;
    transition: width 1s, height 1s; 
}

.sectioninicio__imageninicio:hover{
    width: 430px;
    height: 330px;
}

.logoinicio{
    padding-top: 80px;
    color:$blanco
}