.section2__parrafoinicio {
    padding: 40px;
    font-size: 25px;
    text-align: center;
    color: rgb(223, 248, 250);
}



.parrafo__quienessomos .text-center {
    font-size: 25px;
    color: rgb(247, 58, 5);
    margin-left: 150px;
    margin-right: 150px;
    padding: 40px;
}
