@mixin servicetitulo-font-mar-wid-max700 {
    font-size: 16px;
    margin-top: auto;
    margin-left:auto;
    width: auto;
}

@mixin servicedescripcion-font-text-margl-max700 {
    font-size: 15px;
    text-align:$centrado;
    margin-left: auto;
}

@mixin servicetitulo-font-mar-col-wid-text-min700-max1000 {
    font-size: 15px;
    margin-top: 50px;
    color: $amarillo;
    margin-left: 100px;
    width: 250px;
    text-align:$centrado; 
}

@mixin servicedescripcion-font-margl-col-min700-max1000 {
    font-size: 15px;
    margin-left: 100px;
    margin-right: 50px;
}


@media (min-width: 700px) and (max-width: 1000px) { /*tamaño para telefono en modo vertical y horizontal*/
    .sectioninicio {
        display: flex;
        text-align: $centrado;

        .sectioninicio__textoinicio {
            font-size: 35px;
            width: 70%;
            text-align: $centrado;
            padding: auto;
            margin-left: 0;
        }
        .sectioninicio__imageninicio {
            margin-top: auto;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            height: 50%;
            transition: width 1s, height 1s;
        }
        .sectioninicio__imageninicio:hover{
            width: 55%;
            height: 55%;
        }
    }

    .sectionservicio1 {
        display: flex;
        padding: 20px;
        margin-top: 50px; 
        .sectionservicio1__titulo {
            @include servicetitulo-font-mar-col-wid-text-min700-max1000;
        }
        
        .sectionservicio1__descripcion h2{
            @include servicedescripcion-font-margl-col-min700-max1000;
        }  
    }
    
    .sectionservicio2 {
        display:flex;
        padding: 20px;
        .sectionservicio2__titulo { 
            @include servicetitulo-font-mar-col-wid-text-min700-max1000; 
        }
        
        .sectionservicio2__descripcion h2 {
            @include servicedescripcion-font-margl-col-min700-max1000;
        }
    }

    .grid--servicio {
        margin-left: 30px;
        grid-template-columns: auto auto; 
        grid-gap: 10px;
        grid-template-rows: auto auto auto;
        height: 900px;
        div {
            border: none;
            img{
                width: 90%;
                height: 80%;
                border: solid 10px;
            }
            
            
        }
    }
    .section3__novedadesinicio {
        font-size: 25px;
    }
    
    .section3__grid-inicio {
        grid-gap: 10px;
        height: 250px;
        div {
            text-align: center;
            img{
                border: solid 10px;
                width: 90%;
                height: 80%;
            }  
            h3 {
                font-size: 15px;
            }   
        }
    }
}




@media (max-width: 700px) { /*tamaño para telefono en modo vertical y horizontal*/
    .sectioninicio {
        display: block;
        text-align: $centrado;
        padding: 0;
        margin-top: 0;
        .sectioninicio__textoinicio {
            font-size: 20px;
            padding: auto;
            margin-left: auto;
            margin-right: auto;
            width: 90%;
            text-align: $centrado;    
        }
        .sectioninicio__imageninicio {
            margin-top: auto;
            margin-left: auto;
            margin-right: auto;
            width: 90%;
            height: 90%;
            transition: width 1s, height 1s;
        }
        
    }

    .section2__parrafoinicio {
        padding: auto;
        font-size: 15px;
        margin-left: 5px;
        margin-right: 5px;
        text-align: $centrado;
        color: $blanco;
    }

    .sectionservicio1 {
        display: block;
        margin-top: 10px; 
        .sectionservicio1__titulo {
            @include servicetitulo-font-mar-wid-max700;
        }
        .sectionservicio1__descripcion h2 {
            @include servicedescripcion-font-text-margl-max700;
        }
    }

    .sectionservicio2 {
        display: block;
        .sectionservicio2__titulo {
            @include servicetitulo-font-mar-wid-max700;
        }
        .sectionservicio2__descripcion h2 {
            @include servicedescripcion-font-text-margl-max700;
        }
        
    }

    .parrafo__quienessomos .text-center {
        font-size: 15px;
        text-align:$centrado;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
        
    }

    .col .text-center {
        font-size: 16px;
        
    }

    iframe {
        width: 90%;
        height: auto;
    }

    .grid-servicio { 
        margin-top: 20px;
        text-align: $centrado;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: repeat(1, 1fr); 
        grid-gap: 10px;
        height: auto;
        div {
            border: none;
            img{
                width: 90%;
                height: 90%;
                border: solid 10px;
            }
        }
    }

    .section3__novedadesinicio {
        font-size: 20px;
    }
    
    .section3__grid-inicio {
        grid-template-columns: repeat(1, 1fr); 
        height: auto;
        div {
            text-align: center;
            img{
                border: solid 10px;
                width: 80%;
                height: 80%;
            }  
            h3 {
                font-size:17px;
            }   
        }
    }

   

    #filatecnologia{
        display: block;
        padding-top: 20px;
    }


    .imagentecnologias{
        text-align: $centrado;
        width: 90%;
        height: 90%;
        margin-bottom: 20px;
       
    }

    form input{
        width: 100%;
    }

    form #mensaje{
        width: 80%;
        
    }

    #containertecnologia{
        margin-top: 0;
    }
}




