.sectioninicio__textoinicio {
    color:$violeta;
    font-size: 50px;
    padding: 20px;
    margin-left: 100px;
    width: 400px;
    text-align: $centrado;
}


.contacto__titulo {
    font-size: 40px;
    text-align: $centrado;
    color: $blanco;
}


.col .text-center {
    color: $amarillo;
    font-size: 35px;
    margin-left: 25px;
}




