.sectioninicio__textoinicio {
    color: blueviolet;
    font-size: 50px;
    padding: 20px;
    margin-left: 200px;
    width: 400px;
    text-align: center;
}


.contacto__titulo {
    margin-top: 50px;
    font-size: 40px;
    text-align: center;
    color: azure;
}


.col .text-center {
    color: rgb(241, 238, 25);
    font-size: 35px;
    margin-left: 25px;
}


.sectionservicio1__titulo {
    font-size: 20px;
    margin-top: 50px;
    color: rgb(250, 226, 6);
    margin-left: 200px;
    width: 250px;
    text-align:center;  
}

.sectionservicio1__descripcion h2{
    font-size: 20px;
    margin-left: 180px;
    color: rgb(245, 115, 115);
}

.sectionservicio2__titulo { 
    font-size: 20px;
    margin-top: 50px;
    color: rgb(250, 226, 6);
    margin-left: 200px;
    text-align:center; 
    width: 250px; 
}

.sectionservicio2__descripcion h2 {
    font-size: 20px;
    margin-left: 180px;
    color: rgb(245, 115, 115);
}